page-post-page {
//     form-layout-page {

// 	.forms-examples-content
// 	{
		

// 		.forms-examples-segment
// 		{
// 			padding: 14px 0px;
			
			

		

// 		}

// 		.sample-form
// 		{
// 			.form-section
// 			{
// 				padding: 0px 14px;

// 				.item:first-child
// 				{
// 					margin-top: 20px;
// 				}
// 			}

// 			ion-item {
				
// 				&.item
// 				{
// 					margin-top: 14px;

// 					&.item-label-floating
// 					{
// 						margin-top: 0px;

					
// 					}

// 					.item-inner
// 					{
						
// 					}
// 				}

// 				&:first-of-type {
// 					margin-top: 0px;
// 				}
// 			}

// 			.section-title
// 			{
// 				font-size: 1.8rem;
// 				line-height: 1.2;
// 				letter-spacing: 1.1px;
// 				text-align: center;
				
// 				font-weight: 400;
// 				margin: 0px;
// 			}

// 			.form-action-button
// 			{
// 				margin: 0px;
// 				margin-top: 20px;

		
// 			}
// 		}

// 		.post-example-view
// 		{
// 			padding-bottom: 20px;

// 			.post-form
// 			{
// 				.upload-image-button
// 				{
// 					border-radius: 6px;
// 					height: initial;
// 					margin: 30px 0px;
// 					padding-top: 16px;
// 					padding-bottom: 32px;
					
					

// 					.button-inner
// 					{
						

// 						ion-icon {
// 							flex: 0 0 100%;
// 					    max-width: 100%;
// 							font-size: 3.8em;
// 						}

// 						.button-title
// 						{
// 							flex: 0 0 100%;
// 					    max-width: 100%;
// 							font-size: 1.4rem;
						
// 							font-weight: 400;
// 							margin: 0px;
// 						}
// 					}
// 				}

// 				.item.item-textarea
// 				{
					
// 					font-size: 1.4rem;

// 					.item-inner
// 					{
// 						padding: 0px 14px;
// 					}
// 				}

// 				.choose-category-button
// 				{
// 					border-radius: 6px;
					
					
// 					margin: 30px 0px;
					

// 					.button-inner
// 					{
						

// 						ion-icon {
						
// 							font-size: 2.2em;
// 						}
// 					}
// 				}

// 				.section-title
// 				{
// 					margin-top: 40px;
// 					margin-bottom: 30px;
// 				}

				
// 				.range-item
// 				{
// 					padding: 15px 30px;
// 					margin: 0px;

// 					ion-label {
						
// 					}
// 				}

// 				.time-item
// 				{
// 					padding: 0px 30px;
// 					margin: 0px;
// 					border: none !important;

// 					.item-inner
// 					{
// 						padding: 0px;
// 						border: none;

// 						ion-label {
// 							margin: 15px 8px 15px 0px;
// 							font-size: 1.4rem;
// 							font-weight: 500;
// 							letter-spacing: 0.2px;
							
// 						}

// 						ion-datetime {
// 							padding-right: 0px;

// 							.datetime-text
// 							{
// 								font-size: 1.8rem;
								

// 								&::after
// 								{
// 									content: 'hrs';
// 									margin-left: 4px;
// 								}

// 								&:empty::after
// 								{
// 									display: none;
// 								}
// 							}
// 						}
// 					}
// 				}

			

// 				.counter-item
// 				{
// 					margin: 0px;
					

// 					.item-inner
// 					{
// 						.counter-label
// 						{
// 							margin-left: 30px;
// 						}

// 						counter-input {
// 							padding-right: 30px;
// 						}
// 					}
// 				}
// 			}
// 		}

// 		.event-example-view
// 		{
// 			padding-bottom: 20px;

// 			.event-form
// 			{
// 				.section-title
// 				{
// 					margin-top: 30px;

// 					& + .item-input
// 					{
// 						margin-top: 20px;
// 					}
// 				}

// 				.multi-input-row
// 				{

// 					ion-col {
// 						padding: 0px 7px;

// 						&:first-child{
// 							padding-left: 0px;
// 						}

// 						&:last-child{
// 							padding-right: 0px;
// 						}
// 					}

// 					.multi-input
// 					{
// 						margin: 0px;

// 						&.item-datetime.item-label-floating
// 						{
// 							ion-label {
// 								margin-top: 7px;
// 							}

// 							ion-datetime {
// 								padding-top: 0px;
// 							}
// 						}

// 						ion-datetime {
// 							padding-left: 0px;

							
// 						}
// 					}
// 				}
// 			}
// 		}


// 		.card-example-view
// 		{
// 			padding-bottom: 20px;

// 			.card-form
// 			{
// 				.section-title
// 				{
// 					margin-top: 30px;

// 					& + .item-label-floating
// 					{
// 						margin-top: 10px;
// 					}
// 				}

// 				.multi-input-row
// 				{
// 					ion-col {
// 						padding: 0px 7px;

// 						&:first-child{
// 							padding-left: 0px;
// 						}

// 						&:last-child{
// 							padding-right: 0px;
// 						}
// 					}

// 					.multi-input
// 					{
// 						margin: 0px;
// 					}
// 				}

// 				ion-datetime {
// 					padding-left: 0px;
// 					padding-top: 8px;
// 					padding-bottom: 7px;

// 				}

// 				.card-preferences
// 				{
// 					margin: 40px 0px 50px;


// 					.switcher-item
// 					{
// 						padding: 0px 14px;
					  

// 						.item-inner
// 						{
// 							ion-label {
// 								opacity: 1;
// 							}

// 							ion-toggle {
// 								padding-right: 0px;
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }


// ion-alert.category-prompt {
// 	.alert-wrapper
// 	{
// 		width: 80%;
	
// 	}

// 	.alert-head
// 	{
// 		padding-bottom: 20px;

// 		.alert-title
// 		{
// 			font-size: 2.0rem;
// 			line-height: 1.2;
// 			letter-spacing: 1.1px;
			
// 			font-weight: 400;
// 		}
// 	}

// 	.alert-message:empty
// 	{
// 		display: none;
// 	}

// 	.alert-checkbox-group
// 	{
// 		border: none;
// 		padding: 0px 20px;

// 		.alert-checkbox
// 		{
// 			margin: 14px 0px;

// 			.alert-checkbox-label
// 			{
// 				border-radius: 6px;
// 				font-size: 1.4rem;
// 				font-weight: 500;
// 				letter-spacing: 0.2px;
				
				
// 				text-align: center;
				
// 			}


// 			.alert-checkbox-icon
// 			{
// 				display: none;
// 			}
// 		}
// 	}

// 	.alert-button-group
// 	{
// 		padding: 14px 0px;

// 		.alert-button
// 		{
			
// 			border-top: none;
		 
// 			font-weight: 400;

// 			&:last-child
// 			{
// 			  font-weight: 500;
				
// 			}
// 		}
// 	}
// }

.upload-image-button
	{
		border-radius: 6px;
		height: initial;
		margin: 30px 0px;
		padding-top: 16px;
		padding-bottom: 32px;
		
	}
.button-title
	{
	
	max-width: 100%;
		font-size: 1.4rem;
	
		font-weight: 400;
		margin-left: 3px;
	}
                
.section-title
	{
		font-size: 1.8rem;
		line-height: 1.2;
		letter-spacing: 1.1px;
		text-align: center;
		margin-bottom: 30px;
		color: #e79e27;
		font-weight: 400;
		
	}
           
                
}
